.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background: linear-gradient(135deg, #0B3D91, #1BA1E2);
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.top-row {
    background: linear-gradient(135deg, #0B3D91, #1BA1E2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    justify-content: flex-end;
    height: 64px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.top-row ::deep a, .top-row ::deep .btn-link {
    color: white;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
    text-decoration: underline;
}

@media (max-width: 640.98px) {
    .page {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .top-row {
        position: static;
        justify-content: space-between;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .top-row {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
