@using Microsoft.AspNetCore.Components.Authorization

<ErrorBoundary>
    <ChildContent>
        <CascadingAuthenticationState>
            <Routes />
        </CascadingAuthenticationState>
    </ChildContent>

    <ErrorContent Context="ex">
        <div class="pa-4">
            <h4>Something broke while rendering.</h4>
            <p>@ex.Message</p>
        </div>
    </ErrorContent>
</ErrorBoundary>