@page "/nurse-dashboard"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize(Roles = "SchoolNurse")]

<h1>Panel de Enfermería</h1>
<p>Desde aquí puedes gestionar los registros de vacunación de los estudiantes.</p>