@page "/nurse-dashboard"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize(Roles = "SchoolNurse")]

<h1>Panel de Enfermería</h1>
<p>From here you can manage your students immunization records</p>